*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #1e1e1e;
  background-color: #F0EBE1;
  padding-inline: 64px;
  margin: 0 auto;
}

.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 64px;
}

@media (max-width: 1024px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: #1a1a1a;
  height: 38px;
  //color: #fff;
  border: 1px solid #262522;
  border-radius: 24px;
  padding: 24px 12px;
  text-transform: uppercase;
  white-space: nowrap;
}

.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 8px;
  width: 76px;
  height: 24px;
  border-radius: 12px;
  background-color: #ee6352;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  white-space: nowrap;
}

